@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");

body {
  background-image: url("pikture.png");
  background-repeat: no-repeat;
  background-size: cover;
}

[class*="col"] {
  padding: 1rem;
  background-color: #0d160d;
  color: #e1a298;
  border: 2px solid #fff;
}

.navbar {
  /* background-color: #0d160d; */
  color: white;
  font-size: 2em;
}

/* .navbar-brand {
  color: white;
  font-size: 1.5rem;
  letter-spacing: 3px;
  font-family: "Poppins", sans-serif;
} */

.navbar-brand img {
  /* margin-right: 10px; */
}

.logo-div {
  border-right: 4px solid gray;
}

.logo-div:hover {
  color: #e1a298;
  cursor: default;
}

.logo-div p {
  font-weight: 800;
  font-family: "Poppins", sans-serif;
  letter-spacing: 3px;
}

.nav-link {
  color: white;
  /* margin: 200px; */
}

.h-10 {
  height: 10%;
}

.h-20 {
  height: 20%;
}

.w-15 {
  width: 15%;
  background-color: #6e271b;
}
#logoimg {
  vertical-align: middle;
  height: 100%;
}

/* crimson 6e271b
light red bb3e21
dark pink e1a298
black 0d160d
light pink ecd2da */

@media (max-width: 991px) {
  .logo-div {
    margin: auto;
    border: none;
  }
}
/*  */